<!-- empiesa la etiqueta 3 -->
<div id="Encuentranos" class="container mt-5">
  <div class="card mb-3 border-0" >
      <div class="row g-0">                  
        <div class="col-md-7 border border-info-subtle">
          <div class="card-body">
            <h2 class="card-title">Encuentranos!</h2>
            <p class="card-text">Tambien nos puedes encontrar en : Av. Emancipación 343, tienda 123 en el Cercado de Lima. atendemos de l-D 24/7</p>
            <div class="div text-center"><a href="registrate.html" class="btn btn-outline-success btn-lg">REGISTRATE Y TE BUSCAMOS!</a></div>
          </div>
        </div>
        <div class="col-md-5 border border-info-subtle">
          <iframe class="d-block w-100" style="max-height: 200px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d907.7939402620582!2d-77.00556217324207!3d-11.97074151124252!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c5896fe8b669%3A0xfe57b7071305a32b!2sMax%20Dent!5e0!3m2!1ses!2spe!4v1734135914179!5m2!1ses!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
</div>
<!-- termina la etiqueta 3
empiesa el footer -->

<footer>
    <div class="card border-info mb-12" >
        <div class="card-header  text-bg-secondary text-center border-info">DISTRIBUIDORA MAX & DENT</div>
        <div class="card-body text-bg-secondary">
          <div class="row">
            <h2 class="text-center text-bg-secondary ">Encuentranos tambien en!</h2>
            <div class="row">
                <button class="col-sm-3 btn btn-outline-info" type="submit"> <i class="bi bi-facebook"> </i> Faceboock</button>
                <button class="col-sm-3 btn btn-outline-success" type="submit"> <i class="bi bi-whatsapp"> </i> WhatsApp</button>
                <button class="col-sm-3 btn btn-outline-info" type="submit"> <i class="bi bi-twitter"> </i> Twitter</button>
                <button class="col-sm-3 btn btn-outline-danger" type="submit"> <i class="bi bi-instagram"> </i> Instagram</button>
            </div>

          </div>
        </div>
        <div class="card-footer text-bg-secondary border-info text-center">Muchas gracias por su visita!</div>
      </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>  
