<!--epiesa tarjeta de registro-->
<div class="container mt-5">
    <div class="card w-100 mb-3 border-info">
        <div class="card-body text-center">
          <h5 class="card-title">Registrate con Nosotros</h5>
          <p class="card-text">Nuestra area de soporte se comunicara con tigo para un mejor asesoramiento, ¡estaremos encantados de poder ayudarte!, tambien puedes dejarnos tus comentarios para saber con que area deseas comunicarte; MUCHAS GRACIAS</p>
          <a href="#" class="btn btn-primary">Enviar</a>
        </div>
      </div>
</div>
<!--epiesa tarjeta de registro-->
<!--registro de nombre,apellido y telefono-->
<div class="container">
    <div class="row">
        <form class="form-floating border-info  col-md-4">
            <input type="email" class="form-control border-info" id="floatingInputValue" placeholder="name@example.com" >
            <label for="floatingInputValue">Ingresa tu Nombre</label>
        </form>
        <form class="form-floating border-info col-md-4">
            <input type="email" class="form-control border-info" id="floatingInputValue" placeholder="name@example.com" >
            <label for="floatingInputValue">Ingresa tu Apellido</label>
        </form>
        <form class="form-floating border-info col-md-4">
            <input type="email" class="form-control border-info" id="floatingInputValue" placeholder="name@example.com" >
            <label for="floatingInputValue">Ingresa tu Numero</label>
        </form>
    </div>

</div>
<!--fin de registro de nombre,apellido y telefono-->
<!--epiesa tarjeta de correo-->
<div class="container border-info mt-5">
    <form class="form-floating border-info">
        <input type="email" class="form-control border-info" id="floatingInputValue" placeholder="name@example.com" >
        <label for="floatingInputValue">Ingresa tu correo</label>
    </form>
</div>
<!--termina tarjeta de correo-->
<!--epiesa tarjeta de comentario-->
<div class="container border-info mt-5">
    <div class="form-floating border-info">
        <textarea class="form-control border-info" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Comentarios</label>
      </div>
</div>
<!--termina tarjeta de comentario-->
